.container-fluid{
    max-width: 1220px;
}

a{
    color: darkblue;
}

.my-shadow{
    box-shadow: 0 2px 3px #0d0665;
}

a:hover{
    text-decoration: none !important;
    color: red !important;
}

#top-header{
    font-size: 12px;
    background-color: rgba(22, 22, 22, 0.12);
}

#top-header a{
    color: darkblue;
}


#top-header li{
    margin:0 20px;
    padding-right: 5px;
}

#top-header li:last-child{
    margin-right: auto;
    padding-left: 10px;
}

#top-header ul{
    margin-bottom: 0;
}

#top-header i{
    font-size: 25px;
    padding-left: 3px;
}

#second-header{
    background: whitesmoke;
}

#nav-bar{
    background: whitesmoke;
}

#logo{
    max-width: 80px;
    max-height: 80px;
}

#search-tag{
    border-radius: 5px 0 5px 0;
}

#navbar1{
    font-size: 14px;
}

#navbar1 a{
    color: rgba(0,0,0,0.67);
}
#basket a{
    background-color:darkblue;
    color: whitesmoke;
}

.navbar-nav a:hover{
    color: whitesmoke;
    background-color: darkblue;
    transition-duration: 1s;
    border-radius: 4px;
}

body{
    background-color: rgba(69,16,92,0.18);
}

#main{
    background: whitesmoke;
}

#category{
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
    background: #9fcdff;
}

#category a{
    padding: 5px 0;
    border-bottom: 1px solid rgba(0,0,0,0.48);
}

#sidebar-subject{
    background: #555555;
    color: whitesmoke;
    box-shadow: 0 5px 5px black;
    margin-bottom: 10px;
}

#carousel1{
    position: relative;
    margin-bottom: 15px;
}

.carousel-inner{
    height: 30vw;
}

#carousel1 footer{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -25px;
}

.carousel-indicators{
    position: relative;
}

#carousel1 footer ol{
    padding: 0;
    margin: 0;
    display: flex;
    height: 50px;
    border-top: 0;
}

#carousel1 footer li{
    width: 33.333%;
    font-size: 16px;
    color: white;
    height: 100%;
    text-align: center;
    padding-top: 10px;
    transition-duration: 0.2s;
    text-indent: 0;
    background-color: rgba(60, 70, 90, 0.8);
    margin: 0;
}

#carousel1 footer li.active{
    background-color: #fcad14;
    color: #444;
}

#carousel1 footer li.active::before{
    content: '';
    position: absolute;
    top: -20px;
    right: 50%;
    margin-right: -10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fcad14;
}

#point-of-day{
    background: whitesmoke;
}

#point-of-day .card-header{
    font-size: 24px;
    background: darkblue;
    color: white;
    padding: 5px 0;
    margin: 0;
}

.owl-carousel .card{
    margin: 5px 5px;
}

#suggestion-header{
    color: whitesmoke;
    padding: 15px;
    margin-bottom: 10px;
    text-shadow: 5px 5px 5px gold, -5px -5px 5px gold, -5px 5px 5px gold, 5px -5px 5px gold;
}

#suggestion{
    background: linear-gradient(darkblue, lightblue);
    color: navajowhite;
}

.owl-carousel img{
    height: 90px !important;
}

.owl-carousel p{
    font-size: 13px;
}

.owl-carousel .card{
    border-radius: 0;
}

.owl-carousel .owl-nav button{
    position: absolute;
    top: 20%;
    font-size: 50px !important;
    outline: none;
    color: white !important;
}

.owl-carousel .owl-nav .owl-prev{
    left: 97%;
}

.owl-carousel .owl-nav button:hover{
    color: #555555 !important;
}

footer .row{
    padding: 10px;
    font-size: 14px;
}

#footer-head{
    color: whitesmoke;
    margin-bottom: 10px;
}

footer .list-unstyled li{
    max-width: 180px;
    color: lightgray;
    padding: 10px;
    border-bottom: 1px solid rgba(255,243,243,0.35);
}

footer .list-unstyled a, footer .list-unstyled span{
    color: rgba(255,243,243,0.35);
}

#social-links i{
    padding: 0 5px;
}

footer .list-unstyled a:hover{
    color: whitesmoke !important;
    transition-duration: 1s;
}
@media (min-width: 768px) {
    #top-header i{
        font-size: 14px;
    }
}

