{% extends 'home_page.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Book By Genre{% endblock %}</title>
</head>
<body>
{% block main_content %}
    <div class="col-md-8 p-2">
        <div class="row mb-4 text-danger">
            <span>
            کتاب های ژانر
            {{ genre.title }}
             موجود در سایت
            </span>
        </div>
        <div class="row">
        {% for book in genre.book_set.all %}
            {% if not book.is_deleted %}
            <div class="col-md-6 card wow fadeInRight text-center border-0" id="point-of-day"
                 data-wow-delay="0.5s" data-wow-offset="200">
                <div class="card-body my-shadow mb-2" style="background-color: lightgray">
                    <img class="w-50 mb-3" src="{% if book.cover.url is not null %}
                                                                    {{ book.cover.url }}
                                                                {% else %}
                                                                    {% static 'img/no-image.jpg' %}
                                                                {% endif %}"/>
                    <h5 class="mb-3">
                            {{ book.title }}
                    </h5>
                    <h6 class="text-muted mb-4">
                        <a href="{% url 'shop:book_details' book.pk %}">
                            مشاهده جزییات
                            <i class="fa fa-hand-pointer-o"></i>
                        </a>
                    </h6>
{#                    <p class="mb-4 px-3">#}
{#                        سخن معروف: "#}
{#                        {{ author.quote|default:"موجود نمی باشد" }}#}
{#                        "#}
{#                    </p>#}
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
</body>
</html>